 {% include "web/navbar.html" %}
<!-- Gallery Hero -->
<section class="bg- text-dark text-center py-5">
    <div class="container">
        <h1 class="fw-bold">Our Gallery</h1>
        <p class="mt-2 ">Moments & delicious food</p>
    </div>
</section>

<!-- Gallery Section -->
<section class="py-5">
    <div class="container">
        <div class="row g-4">

            <div class="col-md-4 col-sm-6">
                <div class="gallery-img gi">
                    <img src="/static/01.jpg" alt="">
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="gallery-img gi">
                    <img src="/static/2c.jpeg" alt="">
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="gallery-img gi">
                    <img src="/static/3c.jpeg" alt="">
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="gallery-img gi mt-5">
                    <img src="/static/4c.jpeg" alt="">
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="gallery-img gi mt-5">
                    <img src="/static/5c.jpeg" alt="">
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="gallery-img gi mt-5">
                    <img src="/static/6c.jpeg" alt="">
                </div>
            </div>

        </div>
    </div>
</section>
        {% include "web/footer.html" %}